Book Website/BookClubWebApp/BookClubWebApp/XMLSchema2.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Accounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Account" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Username" type="xs:string" />
              <xs:element name="Password" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>